<div class="conteiner mt-5">
    <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Crear Producto</span>
                    <form action="" class="mt-3">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="Producto"
                                aria-describedby="emailHelp" placeholder="Nombre del Producto" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="categotia"
                                aria-describedby="emailHelp" placeholder="Nombre de la Categotia" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="ubicacion"
                                aria-describedby="emailHelp" placeholder="Nombre de la Ubicacion" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" id="precio"
                                aria-describedby="emailHelp" placeholder="Precio del Producto" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary float-start" routerLink="/">VOLVER</button>
                            <button type="submit" class="btn btn-primary float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>